body{
    font-size: 29px;
}

table{
    width: 100%;
    background-color: rgb(30, 30, 30);
    height: 100vh;
}

td {
    text-align: center;
    height: 10%;
    width: 20%;
    user-select: none;
    cursor: pointer;
}

.operation {
    background-color: rgb(20, 20, 20);
}

td:hover {
    background-color: rgb(100, 100, 100);
}

#resultArea {
    width: 97%;
    height: 100%;
    text-align: right;
    font-size: 50px;
    margin-left: 3%;
    padding: 0;
    color: white;
    background-color: rgb(70, 70, 70);
    border: none;
}

#inputField:hover {
    background-color: rgb(30, 30, 30);
    cursor: default;
}

#result {
    background-color: rgb(30, 40, 200);
}

#result:hover {
    background-color: rgb(20, 30, 120);
}

.openMenu{
    position: absolute;
    top: 45px;
    cursor: pointer;
}

.openMenu:hover{
    background-color: rgb(100, 100, 100);
}

#interimResult{
    cursor: initial;
    height: 16px;
    min-width: none;
    font-size: 10pt;
    text-align: right;
    padding-right: 20px;
    user-select: text;
}

#interimResult:hover{
    background-color: rgb(30, 30, 30);
}

.menuIcons{
    width: 40px;
    vertical-align: middle;
}

#calculatorMenu{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgb(20, 20, 20);
    user-select: none;
    font-size: 15pt;
    list-style: none;
    min-width: 30%;
    box-shadow: 0px 13px 13px 8px #000000;
    border: 1px solid black;
    border-radius: 10px;
}

#calculatorMenu li{
    cursor: pointer;
    padding: 4px 0 4px 8px;
    border-radius: 10px;
}

#calculatorMenu li:hover{
    background-color: rgb(40, 40, 40);
}

#additionalFeatures{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.close{
    position: absolute;
    right: 0;
    top: 0;
}

.cornerTopRight{
    border-radius: 0 10px 0 0;
}

.close:hover{
    background-color: rgb(70, 70, 70);
}

.hoverIcon{
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    margin-left: 20px;
}

.hoverIcon:hover{
    background-color: rgb(70, 70, 70);
}

.closeBar {
    border-bottom: 3px solid rgb(10, 10, 10);
}

#history, #converter {
    background-color: rgb(40, 40, 40);
    position: absolute;
    top: 70px;
    left: 20%;
    height: 83%;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 13px 13px 5px #000000;
}

#converter{
    background-color: rgb(20, 20, 20);
}

#boxContent, #converterContent{
    overflow-y: auto;
    height: 80%;
}

#converterContent{
    padding: 10px;
}

#history h2, #converter h2{
    padding: 20px;
    font-size: 20pt;
}

#boxContent div{
    border-radius: 10px;
    padding: 5px 5px 5px 20px;
    margin-bottom: 5px;
    user-select: none;
    cursor: pointer;
}

#boxContent div:hover{
    background-color: rgb(70, 70, 70);
}

.calculation{
    font-size: 12pt;
    color: rgb(200, 200, 200);
}

#angleDisplay{
    position: absolute;
    top: 90px;
    font-size: 14pt;
    left: 6px;
    color: rgb(200, 200, 200);
    user-select: none;
}

.overviewContent{
    display: flex;
    width: 100%;
}

.cards{
    width: 48%;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    text-align: center;
    line-height: 1.5em;
    user-select: none;
}

.cards h1{
    margin-bottom: 10px;
    font-size: 20pt;
}

.cards:hover{
    background-color: rgb(60, 60, 60);
}

#converter input{
    margin-bottom: 15px;
    padding: 0 12px;
    font-family: inherit;
    font-size: 14pt;
    color: inherit;
    background-color: rgb(40, 40, 40);
    min-width: 50%;
    height: 40px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
}

#converter input:focus, textarea:focus{
    outline: none;
    background-color: rgb(60, 60, 60);
}

#converter input:hover, textarea:hover{
    background-color: rgb(50, 50, 50);
}

select{
    background-color: rgb(40, 40, 40);
    color: inherit;
    font-size: 14pt;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
    margin-bottom: 10px;
}

.accept{
    font-size: 13pt;
    width: 200px;
    height: 50px;
    color: inherit;
    background-color: rgb(20, 20, 20);
    user-select: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgb(100, 100, 100);
    margin-bottom: 30px;
}

.accept:hover{
    background-color: rgb(40, 40, 40);
    width: 210px;
    transition: 0.4s;
}

.accept:focus{
    outline: none;
    background-color: rgb(60, 60, 60);
}

#unitType{
    margin-bottom: 20px;
    font-size: 30pt;
}

.resultConverting{
    margin: 15px 5px;
    font-size: 15pt;
}

@media(max-width: 600px) {
    #history, #converter{
        left: 0;
        width: 100%;
    }

    #resultArea{
        margin-left: 15%;
        width: 85%;
        font-size: 40px;
    }

    .overviewContent{
        display: initial;
        width: 100%;
    }

    .cards{
        width: 90%;
        line-height: 1em;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}