*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Roboto';
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
nav ul{
    display: flex;
    background-color: rgb(50, 50, 50);
    list-style: none;
    box-shadow: 0px 13px 13px 5px #000000;
}

nav > ul{
    padding-left: 60px;
}

nav ul li{
    font-size: 20px;
    height: 100%;
    user-select: none;
    cursor: pointer;
    border-radius: 7px;
}

nav a{
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    padding: 10px;
}

nav li:hover, #toggleMain:hover{
    background-color: rgb(80, 80, 80);
}

#sub{
    position: absolute;
    top: 44px;
    left: 133.5px;
    border-radius: 0 0 7px 7px;
}

#subOpener{
    padding: 10px;
}

#toggleMain{
    position: absolute;
    padding: 2px 10px 0 10px;
    width: 40px;
    font-size: 30px;
    top: 0;
    left: 0;
    height: 42px;
    user-select: none;
    cursor: pointer;
    border-radius: 7px;
    display: none;
}

main, header{
    margin: 30px 60px 30px 60px;
}

#footerBar{
    display: flex;
    list-style: none;
    margin-top: 10px;
    user-select: none;
}

footer{
    padding: 10px 0 20px 60px;
    background-color: rgb(40, 40, 40);
    font-size: 13pt;
}

#footerBar li{
    margin-right: 10px;
}

footer a{
    color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
}

footer a:hover{
    background-color: rgb(60, 60, 60);
}

#toggleSub{
    color: white;
}

.toggles{
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

.toggleUnvisible{
    display: none !important;
}

main a{
    color: white;
}

main a:hover{
    color: red;
}

.toggleDisabled:hover{
    background-color: rgb(50, 50, 50);
    cursor: initial;
}

.disabled {
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.headlineIcon{
    vertical-align: middle;
    width: 40px;
}

.button{
    width: 40px;
    border-radius: 10px;
    user-select: none;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(40, 40, 40);
}

@media(max-width: 600px) {
    nav ul{
        display: block;
        min-height: 44px;
    }

    nav ul li{
        text-align: center;
    }

    .unvisible{
        display: none;
    }

    #toggleMain{
        display: block;
    }

    #sub{
        border-radius: 7px;
        box-shadow: none;
        position: relative;
        left: 0;
        top: 10px;
        width: 100%;
    }

    .visible{
        display: block;
    }

    .disabled:hover{
        background-color: rgb(50, 50, 50);
        cursor: default;
    }

    main, header{
        margin: 45px 30px;
    }

    footer{
        padding: 10px 0 20px 10px;
    }

    .button{
        margin-left: 6px;
    }
}

@media(min-width: 601px) {
    .unsichtbar{
        display: none;
    }

    .sichtbar{
        display: block;
    }
}