button{
    display: flex;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 5px;
    flex-direction: column;
    text-align: center;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    height: 30vh;
    border: 1px solid rgb(80, 80, 80);
    border-bottom: 2px solid rgb(80, 80, 80);
}

button:hover{
    background-color: rgb(30, 30, 30);
}
button:disabled{
    color: rgb(250, 250, 250);
    pointer-events: none;
}

#gameField{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 90vh;
}

#win{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    height: 100vh;
}

.player1Win, .player2Win, .undecided {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.player1Win{
    color: green;
}

.player2Win{
    color: red;
}

.undecided{
    color: gray;
}

#newGame{
    width: 200px;
    height: 100px;
    margin-left: 40%;
    margin-top: 30px;
    font-size: 30px;
    border-radius: 20px;
    border: initial;
    background-color: rgb(100, 100, 100);
}

#newGame:hover{
    background-color: rgb(60, 60, 60);
}
h1{
    color: white;
    margin-left: 40px;
}

#reset{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50;
    left: 25%;
    border-radius: 20px;
}

#statistic{
    color: white;
    font-size: 20px;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    margin-left: 40px;
    min-width: 20%;
    border-radius: 10px;
}

#player{
    background-color: rgb(30, 30, 30);
    margin: 0;
    height: 10vh;
    font-size: 60px;
    text-align: center;
}

.openMenu{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.openMenu:hover{
    background-color: rgb(100, 100, 100);
}